<div ng-show="thony" slide class="slide" id="screenclean">
  <video width="100%" height="100%" autoplay loop>
    <source src="videos/pug.webm" type="video/webm">
  </video>
</div>

<div slide class="slide" id="slide-top">
  <a class="anchor" id="top"></a>
  <div class="centered-container">
    <h1 class="main-title">eat.</h1>
  </div>
</div>

<div slide class="slide" id="slide-about">
  <a class="anchor" id="about"></a>
  <div class="centered-container">
    <h1 class="title-inverse">about us?</h1>
    <div class="transparent-panel-inverse" id="about-textbox">
      <h3>Our Mission</h3>
      <p>Here at EAT, our goal is to deliver the ultimate gluten-free products. We are excited about the growing demand for gluten-free, and are eager to prove that no gluten does not have to equal no taste. After all, food is food, and food should be enjoyed - gluten or no gluten.</p>

      <h3>Our Team</h3>
      <p>Chef John Smith is an internationally acclaimed pastry and restaurant chef and one of the pioneers of gluten-free. Together with his team, he has created an extensive selection of the finest gluten-free dishes. All that's left? For you to EAT!</p>
    </div>
  </div>
</div>

<div slide class="slide" id="slide-bakery">
  <a class="anchor" id="bakery"></a>
  <div class="centered-container">
    <h1 class="title">&bakery</h1>
    <div class="transparent-panel" id="bakery-textbox">
      <p>At the heart of EAT is our award winning bakery. Tired of the crumbly and dry gluten free pastries that taste more like sand than pastries? Fear no more. Our talented kitchen team has put together the finest assortment of pastries - so good, you'll wonder if there's secretly gluten inside.</p>
      <br>
      <p>(But rest assured, there isn't.)</p>
    </div>
  </div>
</div>

<div slide class="slide" id="slide-contact">
  <a class="anchor" id="contact"></a>
  <div class="centered-container">
    <div class="row" id="contact-textrow">
      <div class="col-xs-4">
        <div class="centered-container">
          <div class="centered-container" style="height:70%;border-right:1px solid #ecf0f1">
            <h1>Contact.</h1>
            <ul class="social-links">
              <li><a href="mailto:me@ivonliu.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
              <li><a href="https://www.facebook.com/ivon.liu.16" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/Ivon_Liu" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="centered-container">
          <p>604.EAT.7435</p>
          <p>eat@ivonliu.com</p>
          <br>
          <br>
          <p>Open 7 days a week</p>
          <p>11:00am - Midnight</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="centered-container">
          <p>4433 Moscrop Street</p>
          <p>Burnaby, BC V5G 2G3</p>
          <br>
          <br>
          <p>Freshly baked goods</p>
          <p>from 10:00am - 6:00pm</p>
        </div>
      </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2604.717897843861!2d-123.00736368469931!3d49.2438374814439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548676e47d39c3c1%3A0x660a3cb637f17ddd!2s4433+Moscrop+St%2C+Burnaby%2C+BC+V5G+2G3!5e0!3m2!1sen!2sca!4v1455698913579"
      width="70%" height="40%" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

<div class="footer-container">
  <div class="footer">
    <p>Created with Bootstrap + AngularJS</p>
    <p>&copy; Ivon Liu 2016</p>
  </div>
</div>
