.card {
  padding: 4px;
}
.card .card-body, .card .card-body-border {
  width: 100%;
  height: 100%;
  padding: 4px;
}
.card .card-body-border {
  border: 1px solid;
}
.card .card-optimal {
  background: #33b5e5;
}
.card .card-autofill {
  background: #2ecc71;
}
#board h4 {
  font-size: 1em;
}
#board label {
  font-size: 0.5em;
}
